@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(207, 194, 194);
    font-family: "Rubik", sans-serif;
}

.page-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(15rem, 20vw) 1fr
}

.side-pane, .content, .group,
.left-card, .checkbox, .text-content,
.card, .right-card {
    display: flex;
}

.side-pane {
    background-color: rgb(189, 20, 20);
    height: 100vh;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    user-select: none;
}

.side-pane::-webkit-scrollbar {
    display: none;
}

.header {
    border-bottom: 0.15rem rgb(207, 194, 194) solid;
}

.logo, .content > .title {
    font-size: clamp(2.5rem, 3.5vw, 5rem);
    font-weight: 700;
    padding: 0.2rem 0;
}



.title {
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 700;
    padding: 0.2rem 0;
}

.options {
    display: grid;
    gap: 0.1rem;
    margin-top: 0.5rem;
}

.options * {
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.options *:not(.active):not(.group-left):not(.group-right):not(.name):hover {
    background-color: rgba(212, 97, 97, 0.432);
}

.active {
    background-color: rgba(207, 194, 194, 0.322);
}

.group, .content {
    align-items: center;
    gap: 1rem;
}

.header-container {
    position: sticky;
    top: 0;
    padding: 1rem;
    /* background-color: #080705; */
    color: #080705;
}

.header-container .header{
    border-color: #080705;
}


.card-container {
    padding: 1rem;
}

.add {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.content.header:hover > .add.mainbtn {
    background-color: rgb(189, 20, 20);
    font-size: 1.2rem;
    border-radius: 50%;    
}

.group.header:hover > .add.groupbtn {
    color: rgb(189, 20, 20);
    background-color: rgb(207, 194, 194);
    font-size: 1.2rem;
    border-radius: 50%; 
}

.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    /* background-color: #080705; */
}

.card {
    display: none;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    /* border: 1px lightcoral solid; */
    border-radius: 0.3rem;
    background-color: #d6c2c2;
    color: #080705;
    min-width: 35rem;
    gap: 2rem;
    cursor: default;
}

.card-title {
    font-size: clamp(1.2rem, 1.8vw, 5rem);
    font-weight: 600;
}

.group-container {
    display: flex;
    justify-content: space-between;
}

.group-pane .options * {
    padding: 0.2rem;
}

.group-container img {
    display: none;
    width: 1.8rem;
    height: auto;
}

.group-container:hover img {
    display: block;
}

.group-right {
    display: flex;
}

.left-card {
    gap: 1rem;
}

.text-content {
    flex-direction: column;
    gap: 0.3rem;
    
}

.text-content .description {
    width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-container {
    font-size: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.group-name {
    border: 0.15rem solid black;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
}

.right-card {
    align-items: center;
    gap: 1rem;
}

img {
    width: 1.5rem;
    cursor: pointer;
}

form {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
}

.input {
    display: grid;
    gap: 0.3rem;
}

label {
    font-size: clamp(1.2rem, 1.5vw, 3rem);
}

form input, select {
    width: max(25vw, 10rem);
    height: 1.8rem;
    padding: 0.3rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.buttons button {
    padding: 0.3rem 1rem;
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 600;
    border-radius: 0.2rem;
    border: none;
}

.add-btn {
    background-color: rgb(189, 20, 20);
    color: rgb(207, 194, 194);
}

.dialog-container {
    display: none;
    background-color: rgba(168, 39, 39, 0.062);
    width: 1000vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

dialog {
    margin: auto;
    inset: 0;
    border-radius: 0.5rem;
    background-color: #131516;
    color: rgb(207, 194, 194);
}

.checkbox {
    justify-content: center;
    align-items: center;
}

:root {
    --form-control-color: rgb(189, 20, 20);
    --form-control-disabled: #959495;
}
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }